@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">RegionCode</th>
                    <th scope="col">RegionName</th>
                </tr>
            </thead>
            <tbody>     
                    @foreach (var item in Model.regions)
                    {
                <tr>
                    <td>@item.Code</td>
                    <td>@item.RegionName</td>
                </tr>
                      
                    }
            </tbody>
        </table>
    </div>
</div>
