@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Tyutor";
}

<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.tyutors)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>